perseus_base.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Perseus Core</title>
        <respStmt>
          <name xml:id="cew">Clifford Wulfman</name>
          <resp>author</resp>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <distributor>Perseus Digital Library</distributor>
      </publicationStmt>
      <sourceDesc>
        <p>Developed ex nihilo.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <classDecl>
        <taxonomy xml:id="perseus-genre">
          <bibl>Perseus Digital Library genre taxonomy. Documents reference this taxonomy
            via <gi>textClass</gi>/<gi>catRef</gi> in <gi>profileDesc</gi>, e.g.:
            <code>&lt;catRef scheme="#perseus-genre" target="#verse-epic"/&gt;</code>
            Each leaf category determines the CTS citation scheme for the document.
          </bibl>

          <category xml:id="drama">
            <catDesc>Dramatic texts.</catDesc>
            <category xml:id="attic-tragedy">
              <catDesc>Attic tragedy (Aeschylus, Sophocles, Euripides).
                Citation: line.</catDesc>
            </category>
            <category xml:id="attic-comedy">
              <catDesc>Attic comedy (Aristophanes, Menander).
                Citation: line.</catDesc>
            </category>
            <category xml:id="roman-comedy">
              <catDesc>Roman comedy (Plautus, Terence).
                Citation: line.</catDesc>
            </category>
            <category xml:id="roman-tragedy">
              <catDesc>Roman tragedy (Seneca).
                Citation: line.</catDesc>
            </category>
            <category xml:id="early-modern-drama">
              <catDesc>Early modern drama (Shakespeare, Marlowe, and contemporaries).
                Citation: act → scene → line.</catDesc>
            </category>
          </category>

          <category xml:id="verse">
            <catDesc>Verse texts.</catDesc>
            <category xml:id="verse-epic">
              <catDesc>Epic verse (Homer, Virgil, Apollonius, Lucan, Statius).
                Citation: book → line.</catDesc>
            </category>
            <category xml:id="verse-didactic">
              <catDesc>Didactic verse (Hesiod, Aratus). Texts without book divisions
                are cited by line only; those with books (Lucretius) by book → line.
                Citation: line, or book → line.</catDesc>
            </category>
            <category xml:id="verse-elegiac">
              <catDesc>Elegiac verse (Tibullus, Propertius, Ovid Amores/Tristia, Theognis).
                Citation: book → poem → line.</catDesc>
            </category>
            <category xml:id="verse-lyric-choral">
              <catDesc>Choral lyric (Bacchylides and others excluding Pindar).
                Citation: ode → line.</catDesc>
            </category>
            <category xml:id="verse-lyric-pindaric">
              <catDesc>Pindaric ode. Triadic structure (strophe, antistrophe, epode)
                requires its own citation scheme.
                Citation: ode → strophe/antistrophe/epode → line.</catDesc>
            </category>
            <category xml:id="verse-lyric-monodic">
              <catDesc>Monodic lyric (Sappho, Alcaeus, Horace Odes).
                Citation: poem → line, or book → poem → line.</catDesc>
            </category>
            <category xml:id="verse-satiric">
              <catDesc>Satiric and epistolary verse (Horace Satires/Epistles, Juvenal, Persius).
                Citation: book → poem → line.</catDesc>
            </category>
            <category xml:id="verse-epigram">
              <catDesc>Epigrammatic verse (Callimachus, Martial).
                Citation: book → poem.</catDesc>
            </category>
            <category xml:id="verse-iambic">
              <catDesc>Iambic verse (Archilochus, Hipponax).
                Citation: line.</catDesc>
            </category>
          </category>

          <category xml:id="prose">
            <catDesc>Prose texts.</catDesc>
            <category xml:id="prose-historiography">
              <catDesc>Historiography (Thucydides, Herodotus, Livy, Caesar, Tacitus).
                Citation: book → chapter → section.</catDesc>
            </category>
            <category xml:id="prose-philosophy">
              <catDesc>Philosophical prose, excluding Platonic dialogue (Aristotle, Epicurus).
                Aristotle cited by Bekker numbers (book → section).
                Citation: book → section.</catDesc>
            </category>
            <category xml:id="prose-dialogue">
              <catDesc>Platonic dialogue. Cited by Stephanus pagination, which cuts across
                internal structure. Citation: section (Stephanus page + letter).</catDesc>
            </category>
            <category xml:id="prose-oratory">
              <catDesc>Oratory (Demosthenes, Cicero speeches, Lysias).
                Citation: speech → section.</catDesc>
            </category>
            <category xml:id="prose-biography">
              <catDesc>Biography (Plutarch, Suetonius).
                Citation: chapter → section.</catDesc>
            </category>
            <category xml:id="prose-epistolary">
              <catDesc>Letter collections (Cicero Letters, Pliny the Younger).
                Citation: book → letter.</catDesc>
            </category>
            <category xml:id="prose-geography">
              <catDesc>Geographical prose (Strabo, Pausanias).
                Citation: book → section.</catDesc>
            </category>
          </category>

        </taxonomy>
      </classDecl>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <head>The Core Perseus Customization</head>
      <p>This ODD file defines the elements and attributes which may occur in any Perseus document.
        It is meant to be the base for higher-level schemas.</p>


      <schemaSpec ident="perseus_core" start="TEI" docLang="en">

        <!-- This is the SINGLE SOURCE OF TRUTH for the Perseus element set. The include lists
             below are the curated subset of each TEI module. perseus_prose/verse/drama chain
             from the compiled form of this file and re-select these curated subsets with BARE
             moduleRefs (no include=), so they inherit changes here automatically. To add or
             remove an element corpus-wide, edit the include list here only.
             See ODD-CHAINING-PROTOCOL.md. -->
        <moduleRef key="tei"/>
        <moduleRef key="core"
          include="p head note hi foreign cit gloss gap lb pb
                   title author editor pubPlace publisher date
                   bibl biblStruct biblScope respStmt resp monogr imprint
                   ref quote q name milestone list item label
                   add del choice abbr expan corr sic
                   num emph lg term rs series listBibl
                   graphic
                   l sp speaker stage"/>
        <moduleRef key="analysis" include="s w"/>
        <moduleRef key="linking" include="seg anchor ab"/>
        <moduleRef key="header"
          include="teiHeader fileDesc titleStmt publicationStmt sourceDesc
                   editionStmt extent notesStmt
                   principal sponsor funder authority availability idno
                   encodingDesc projectDesc classDecl taxonomy category catDesc
                   refsDecl cRefPattern refState citeStructure
                   editorialDecl correction normalization quotation
                   profileDesc creation langUsage language textClass keywords catRef
                   licence change revisionDesc"/>
        <moduleRef key="textstructure" include="TEI text body div"/>
        <moduleRef key="namesdates" include="persName orgName placeName surname forename addName"/>
        <moduleRef key="verse"/>
        <!-- The drama module supplies cast-list elements. <stage> is NOT here: in TEI P5 it
             belongs to the core module (added to the core include list above). -->
        <moduleRef key="drama" include="castList castItem role roleDesc"/>
        <!-- figures module: <figure> and its caption <figDesc> (embedded <graphic> is a core
             element, listed in the core include above). Children must declare this module to
             use figures (see ODD-CHAINING-PROTOCOL.md). -->
        <moduleRef key="figures" include="figure figDesc"/>
        <moduleRef key="dictionaries"/>

        <!-- Constrain @met to a controlled vocabulary of Greek and Latin meters, defined ONCE
             here on att.metrical (verse module) so every genre that uses metrical elements
             (verse, drama) inherits it without re-declaring. type="semi" keeps the list open
             (unlisted values are flagged, not rejected). NOTE: the valList MUST carry
             mode="add"; under a mode="change" attDef a bare <valList> is silently dropped by
             odd2odd. See ODD-CHAINING-PROTOCOL.md. The controlled vocabulary is drawn from
             standard classical scholarship (West, Greek Metre; Raven, Latin Metre). -->
        <classSpec ident="att.metrical" module="verse" mode="change" type="atts">
          <attList>
            <attDef ident="met" mode="change">
              <valList type="semi" mode="add">

                <!-- Dactylic / Elegiac -->
                <valItem ident="dactylic-hexameter"><desc>Standard line of Greek and Latin epic and didactic verse. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="dactylic-pentameter"><desc>Second line of the elegiac couplet. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="elegiac-couplet"><desc>Hexameter + pentameter pair. Use on <gi>lg</gi>.</desc></valItem>

                <!-- Iambic -->
                <valItem ident="iambic-trimeter"><desc>Standard dialogue line in Greek drama; equivalent to Latin iambic senarius. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="iambic-septenarius"><desc>Common in Roman comedy (Plautus, Terence). Use on <gi>l</gi>.</desc></valItem>

                <!-- Trochaic -->
                <valItem ident="trochaic-tetrameter"><desc>Trochaic tetrameter catalectic; Greek drama and Latin comedy. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="trochaic-septenarius"><desc>Common in Roman comedy. Use on <gi>l</gi>.</desc></valItem>

                <!-- Anapestic -->
                <valItem ident="anapestic-dimeter"><desc>Greek drama marching songs and lyric passages. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="anapestic-tetrameter"><desc>Anapestic tetrameter catalectic. Use on <gi>l</gi>.</desc></valItem>

                <!-- Sapphic -->
                <valItem ident="sapphic-strophe"><desc>Three sapphic lines + adonic. Use on <gi>lg</gi>.</desc></valItem>
                <valItem ident="sapphic-hendecasyllable"><desc>Lines 1–3 of the sapphic strophe. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="adonic"><desc>— ∪ ∪ — ×; closing line of the sapphic strophe. Use on <gi>l</gi>.</desc></valItem>

                <!-- Alcaic -->
                <valItem ident="alcaic-strophe"><desc>Four-line Alcaic stanza (Horace). Use on <gi>lg</gi>.</desc></valItem>
                <valItem ident="alcaic-decasyllable"><desc>Lines 1–2 of the alcaic strophe. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="alcaic-enneasyllable"><desc>Line 3 of the alcaic strophe. Use on <gi>l</gi>.</desc></valItem>

                <!-- Asclepiadean / Hendecasyllabic -->
                <valItem ident="phalaecian-hendecasyllable"><desc>Phalaecian hendecasyllable (Catullus, Martial). Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="lesser-asclepiadean"><desc>Lesser asclepiadean. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="greater-asclepiadean"><desc>Greater asclepiadean. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="glyconic"><desc>Glyconic. Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="pherecratean"><desc>Pherecratean; closing line of several Horatian systems. Use on <gi>l</gi>.</desc></valItem>

                <!-- Other lyric / dramatic -->
                <valItem ident="anacreontic"><desc>Ionic dimeter (anacreontic). Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="choliamb"><desc>Scazon; iambic trimeter with final spondee (Catullus, Babrius). Use on <gi>l</gi>.</desc></valItem>
                <valItem ident="dochmiac"><desc>Dochmiac; tragic lyric for agitation or grief. Use on <gi>l</gi>.</desc></valItem>

              </valList>
            </attDef>
          </attList>
        </classSpec>

        <!-- Perseus does not transcribe spoken language, recordings, or computer-mediate
             communication -->
        <classSpec module="tei" ident="att.cmc" type="atts" mode="delete"/>
        <classSpec module="tei" ident="model.cmc" type="model" mode="delete"/>
        <classSpec module="tei" ident="att.duration" type="atts" mode="delete"/>
        <classSpec module="tei" ident="att.duration.w3c" type="atts" mode="delete"/>
        
        <!-- Perseus does not describe manuscripts -->
        <classSpec module="tei" ident="att.written" type="atts" mode="delete"/>
        <classSpec module="tei" ident="att.handFeatures" type="atts" mode="delete"/>
        
        <!-- Perseus does not describe the Internet -->
        <classSpec module="tei" ident="att.internetMedia" type="atts" mode="delete"/>
        

      </schemaSpec>

    </body>
  </text>
</TEI>
